<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448072608357-gg13k98gaa65dpkm66183vb6l9ph6jpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448072608357-gg13k98gaa65dpkm66183vb6l9ph6jpv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448072608357-u94b4d3nlk2ra9d2ttmor2jhgt4690md.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEtNgGrvBckcIvrXTZUgfs1F5oS7otqyo</string>
	<key>GCM_SENDER_ID</key>
	<string>448072608357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.thebooklovers</string>
	<key>PROJECT_ID</key>
	<string>booklovers-4524e</string>
	<key>STORAGE_BUCKET</key>
	<string>booklovers-4524e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448072608357:ios:7e0388b888b8496ff9748c</string>
</dict>
</plist>